@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #1c0531; */
  /* background-color: #2a383a; */
  background-size: 100% 100%;
background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
background-image: radial-gradient(49% 81% at 45% 47%, #3e4454 0%, #073AFF00 100%),radial-gradient(113% 91% at 17% -2%, #09090b 1%, #FF000000 99%),radial-gradient(142% 91% at 83% 7%, #3e4454 1%, #FF000000 99%),radial-gradient(142% 91% at -6% 74%, #000000FF 1%, #FF000000 99%),linear-gradient(0deg, #09090b 0%, #3e4454 98%);
}